<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="bootstrap.css">

    <title>Mission to Mars</title>
</head>

<body>
    <!-- <div class="container-fluid"> -->
        <div class="jumbotron">
          <h1 class="display-3">Mission to Mars</h1>
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
        </div>

        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h2 class="card-title">Latest Mars News</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ data.news_title }}</h3>
                <p class="card-text"> {{ data.news_p }}</p>
            </div>
        </div>

        <h3>Featured Mars Image</h3>
        <img src="{{ data.featured_image_url }}" alt="featured_image" style="width:40%"></img>
        <h3>Current Weather on Mars</h3>

        <p>{{ data.mars_weather }}</p>

        <h3>Mars Facts</h3>
        <table class="table table-hover">
            {{ data.planet_html }}
        </table>
        
        <h3>Hemispheres</h3>

        <div class="container">
        <div class="row">
            <div class="col-4">
                <p>{{ data.hemisphere_image_urls[0]["title"] }}</p>

                <img src="{{ data.hemisphere_image_urls[0]['img_url'] }}" style="width:30%"></img>
            </div>
            <div class="col-4">
                <p>{{ data.hemisphere_image_urls[1]["title"] }}</p>

                <img src="{{ data.hemisphere_image_urls[1]['img_url'] }}" style="width:30%"></img>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>{{ data.hemisphere_image_urls[2]["title"] }}</p>

                <img src="{{ data.hemisphere_image_urls[2]['img_url'] }}" style="width:30%"></img>
            </div>
            <div class="column">
                <p>{{ data.hemisphere_image_urls[3]["title"] }}</p>

                <img src="{{ data.hemisphere_image_urls[3]['img_url'] }}" style="width:30%"></img>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="column">
                    <p>{{ data.hemisphere_image_urls[0]["title"] }}</p>

                </div>
                <div class="column">
                    <p>{{ data.hemisphere_image_urls[1]["title"] }}</p>

                </div>
            </div>
            <div class="row">
                <div class="column">
                    <p>{{ data.hemisphere_image_urls[2]["title"] }}</p>

                </div>
                <div class="column">
                    <p>{{ data.hemisphere_image_urls[3]["title"] }}</p>
    
                </div>
            </div>
            </div>
      </div>
      </div>
    
</body>
</html>