<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="static/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/bootstrap (1).css">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Mission to Mars</title>
</head>

<body>
    <div class="container-fluid text-center">
        <!-- <div class="jumbotron" align="left" style="overflow: auto;"> -->
          <h1 class="display-3">Mission to Mars</h1>
          <p class="lead">
              <a href="/scrape"> <button type="button" class="btn btn-primary btn-lg">Scrape New Data</button> </a>
            </p>
        </div>
    
    <div class="container-fluid">

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                    <h3>Featured Mars Image</h3>
                    <img src="{{ data.featured_image_url }}" alt="featured_image" style="width: 100%; overflow: auto;"></img>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h2 class="card-title">Latest Mars News</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ data.news_title }}</h4>
                        <p class="card-text"> {{ data.news_p }}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h2 class="card-title">Current Weather on Mars</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ data.mars_weather }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
            <div class="card mb-3">
                <div class="card-header">
                <h3>Mars Facts</h3>
                </div>
                <div class="card-body">
                {{ data.planet_html | safe }}
                <script>
                var table = d3.select("table")
                table.attr("class", "table table-striped")
                </script>
                </div>
            </div>
            </div>

            <div class="col-md-7 text-center">
                <h3 x>Hemispheres</h3>
                <div class="container">
                <section class="row">
                    <div class="col-md-6">
                        <img src="{{ data.hemisphere_image_urls[0]['img_url'] }}" style="width:60%"></img>
                        <p>{{ data.hemisphere_image_urls[0]["title"] }}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ data.hemisphere_image_urls[1]['img_url'] }}" style="width:60%"></img>
                        <p>{{ data.hemisphere_image_urls[1]["title"] }}</p>
                    </div>
                </section>
                
                <section class="row">
                    <div class="col-md-6">
                        <img src="{{ data.hemisphere_image_urls[2]['img_url'] }}" style="width:60%"></img>
                        <p>{{ data.hemisphere_image_urls[2]["title"] }}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ data.hemisphere_image_urls[3]['img_url'] }}" style="width:60%"></img>
                        <p>{{ data.hemisphere_image_urls[3]["title"] }}</p>
                    </div>
                </section>
                </div>
            </div>        
        </div>
    </div>
    

</body>
</html>